# Preamble

In [1]:
import sys
#sys.path.insert(0, dir_notebook)

from my_units import *
from functions_model import * 
from functions_load import *
from functions_yellin import *

k = 10 # number of bins

i_mock = 6 # mock file number

i_m = 146 # projection file number

In [2]:
dir_home = '/mnt/home/kvantilburg/'
dir_ceph = dir_home+'ceph/luminous-basin/'
dir_events = dir_ceph+'mocks/event_lists/'
dir_source = dir_ceph+'data/products_80610202001_orbit1_chu12_spatialARF/'
dir_production = dir_ceph+'data/production/'
dir_res = dir_ceph+'results/mocks/mock_'+str(i_mock)+'/'

file_proj = dir_res+'proj/proj_'+str(i_mock)+'_'+str(i_m)+'_fid.csv'

In [4]:
df_proj = pd.read_csv(file_proj)
N_proj = len(df_proj)
i_down_max = np.max([0,np.int(np.ceil(np.log(N_proj/100)/np.log(2)))])

for i_down in range(0,1+i_down_max):
    file_vol = dir_res+'vols/vols_k'+str(k)+'_'+str(i_mock)+'_'+str(i_m)+'_d_'+f'{i_down:02d}'+'_fid.csv'
    
    df_proj_sample = df_proj.sample(frac=2**(-i_down))

    A, edges = np.histogramdd(sample=df_proj_sample.to_numpy(),
                              bins=4*[np.linspace(0,1,k+1)]);

    vols = maximal_cuboid_volumes(A)

    df_vols = pd.DataFrame([vols],columns=['V_'+str(i) for i in range(len(vols))])

    with open(file_vol,'w') as f: #open data file, in 'write mode'
        df_vols.to_csv(f, index=False)

In [5]:
df_vols

,V_0,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9,...,V_30,V_31,V_32,V_33,V_34,V_35,V_36,V_37,V_38,V_39
0,0.3888,0.4374,0.486,0.504,0.56,0.567,0.567,0.6,0.64,0.648,...,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,1.0