# Preamble

In [1]:
import sys
#sys.path.insert(0, dir_notebook)

from my_units import *
from functions_model import * 
from functions_load import *
from functions_yellin import *

k = 10 # number of bins

i_mock = 6 # mock file number

i_m = 146 # projection file number

In [2]:
dir_home = '/mnt/home/kvantilburg/'
dir_ceph = dir_home+'ceph/luminous-basin/'
dir_events = dir_ceph+'mocks/event_lists/'
dir_source = dir_ceph+'data/products_80610202001_orbit1_chu12_spatialARF/'
dir_production = dir_ceph+'data/production/'

In [3]:
dir_res = dir_ceph+'results/mocks/mock_'+str(i_mock)+'/'

file_proj = dir_res+'proj/proj_'+str(i_mock)+'_'+str(i_m)+'_fid.csv'

In [4]:
df_proj = pd.read_csv(file_proj)
N_proj = len(df_proj)
i_down_max = np.max([0,np.int(np.ceil(np.log(N_proj/100)/np.log(2)))])

for i_down in range(0,1+i_down_max):
    file_vol = dir_res+'vols/vols_k'+str(k)+'_'+str(i_mock)+'_'+str(i_m)+'_d_'+f'{i_down:02d}'+'_fid.csv'
    
    df_proj_sample = df_proj.sample(frac=2**(-i_down))

    A, edges = np.histogramdd(sample=df_proj_sample.to_numpy(),
                              bins=4*[np.linspace(0,1,k+1)]);

    vols = maximal_cuboid_volumes(A)

    df_vols = pd.DataFrame([vols],columns=['V_'+str(i) for i in range(len(vols))])

    with open(file_vol,'w') as f: #open data file, in 'write mode'
        df_vols.to_csv(f, index=False)

In [5]:
df_vols

,V_0,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9,...,V_30,V_31,V_32,V_33,V_34,V_35,V_36,V_37,V_38,V_39
0,0.3888,0.4374,0.486,0.504,0.56,0.567,0.567,0.6,0.64,0.648,...,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,1.0

## old

In [23]:
list_files_proj = np.sort([dir_proj+file for file in listdir(dir_proj) if file[0:4]=='proj'])
file = list_files_proj[i_file]
df_proj = pd.read_csv(file)
df_proj

           r_1       r_2       r_3       r_4
0     0.726279  0.448857  0.007232  0.000314
1     0.726365  0.507507  0.038571  0.000294
2     0.473596  0.287758  0.010591  0.000404
3     0.961928  0.779661  0.033101  0.002371
4     0.237330  0.774180  0.008681  0.001645
...        ...       ...       ...       ...
4297  0.665235  0.067957  0.035701  0.989066
4298  0.841656  0.710971  0.000666  0.974029
4299  0.060323  0.785782  0.005384  0.964529
4300  0.770947  0.293007  0.036575  0.999111
4301  0.225545  0.429955  0.042728  0.983191

[4302 rows x 4 columns]

In [28]:
A, edges = np.histogramdd(sample=df_proj.to_numpy(),bins=4*[np.linspace(0,1,k+1)]);

In [31]:
np.sum(A)

18.0

In [36]:
vols = maximal_cuboid_volumes(A)

In [37]:
vols

array([0.3645, 0.504 , 0.504 , 0.567 , 0.648 , 0.648 , 0.729 , 0.729 ,
       0.8   , 0.81  , 0.81  , 0.81  , 0.9   , 0.9   , 0.9   , 0.9   ,
       0.9   , 0.9   , 1.    ])

In [34]:
df_vols = pd.DataFrame([vols],columns=['V_'+str(i) for i in range(len(vols))])

In [35]:
df_vols

,V_0,V_1,V_2,V_3,V_4,V_5,V_6,V_7,V_8,V_9,V_10,V_11,V_12,V_13,V_14,V_15,V_16,V_17,V_18
0,0.3645,0.504,0.504,0.567,0.648,0.648,0.729,0.729,0.8,0.81,0.81,0.81,0.9,0.9,0.9,0.9,0.9,0.9,1.0